<div class="row">
  <div class="two columns offset-by-two">
    <p class="twelve columsn">{{chosenHero.name}}</p>
    <img class="twelve columns" src="{{chosenHero.image}}" alt="{{chosenHero.name}}">

    <div class="row">
      <p class="two columns">HP:</p>
      <p class="two columns">{{chosenHero.health}}</p>
    </div>

  </div>

  <div class="two columns offset-by-four">
    <p class="twelve columns">{{chosenEnemy.name}}</p>
    <img class="twelve columns" src="{{chosenEnemy.image}}" alt="IMAGE OF {{chosenEnemy.name}}">

    <div class="row">
      <p class="two columns">HP:</p>
      <p class="two columns">{{chosenEnemy.health}}</p>
    </div>

  </div>
</div>
<div class="row">
  <div class="two columns offset-by-two">
    <button type="button" class="js-hero-attack">Attack!</button>
  </div>
</div>
