<div class="row">
  <h1 class="mainpage-header eight columns offset-by-two">Select Your Combatant!</h1>
</div>


<div class="row">
  {{#each heroList}}
    <div class="hero-selection-section three columns offset-by-one">
      <h3>{{name}}</h3>
      <div class="hero-image {{cssClass}} eight columns offset-by-two bounce">
      </div>
      <p class="ten columns offset-by-one">{{description}}</p>
      <!-- Below passes the index through to select hero easier -->
      <button type="button" class="js-hero-select" data-hero-id="{{@index}}">{{name}}</button>
    </div>
  {{/each}}
</div>
